<app-header [cart]="cart"></app-header>
<router-outlet></router-outlet>
<!-- <div class="example-container"> -->

 
  <!-- <div class="table-responsive-lg">
  <table class="table p-5" style="width: 100%">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let a of abc">
      <tr>
        <td >{{a.id}}</td>
        <td>{{a.name}}</td>
        <td>{{a.surname}}</td>
        
      </tr>

  <tr>
   
        <div class="col-md-10">
            <div class="row">
          
                  
                     </mat-form-field>
                </div>
                <div class="col-md-4">
                    <input type="number" style="background-color: rgb(188, 181, 181);">
                </div>
                </div>
            </div>
        </div> 
      </div>
    </td>
  </tr>
  <tr>
    <td>
        <input type="radio" checked>
    </td>
  </tr>
     
    </ng-container>
    </tbody>
  </table>
  </div> -->
       
  